pkgbase = obyn
	pkgdesc = Only Bluetooth You Need - graphical Bluetooth manager for Linux
	pkgver = 0.1.1
	pkgrel = 5
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = desktop-file-utils
	makedepends = gcc
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = bluez
	depends = bluez-utils
	depends = pipewire
	depends = pipewire-pulse
	depends = wireplumber
	depends = libpulse
	depends = alsa-utils
	depends = util-linux
	depends = qt6-base
	depends = kstatusnotifieritem
	depends = hicolor-icon-theme
	depends = gcc-libs
	depends = glibc
	options = !debug
	source = obyn-0.1.1.tar.gz
	sha256sums = ec2eb08ff1d72d7918806d235aba425659e34adcda0d080b9088442eca41e60c

pkgname = obyn
